<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.devcash">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WhyDevcash"></activity>
        <activity android:name=".HelpCenterEmployees" />
        <activity android:name=".HelpCenterInventory" />
        <activity android:name=".HelpCenterSales" />
        <activity android:name=".GettingStarted" />
        <activity android:name=".OwnerSignupActivity" />
        <activity
            android:name=".SubscriptionActivity"
            android:label="@string/subs_name"
            android:parentActivityName=".Settings_UI.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PaymentInfoActivity"
            android:label="@string/payment_info_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RefundReceiptActivity"
            android:label="@string/refund"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DetailedReceiptActivity"
            android:label="@string/receipt_detail"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings_UI.TermsActivity"
            android:label="@string/terms"
            android:parentActivityName=".Settings_UI.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings_UI.ChangePasswordActivity"
            android:label="@string/changepasswtitle"
            android:parentActivityName=".Settings_UI.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings_UI.ChangeNameActivity"
            android:label="@string/changename"
            android:parentActivityName=".Settings_UI.OwnerProfileActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HelpCenterActivity"
            android:label="@string/help_center"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings_UI.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".Settings_UI.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings_UI.NotificationsSettingsActivity"
            android:label="@string/notifs_settings"
            android:parentActivityName=".Settings_UI.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings_UI.EnterpriseActivity"
            android:label="@string/enterpprise"
            android:parentActivityName=".Settings_UI.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings_UI.OwnerProfileActivity"
            android:label="Account"
            android:parentActivityName=".Settings_UI.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/notification"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings_UI.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ADD_UI.AddDiscountActivity"
            android:label="@string/add_disc"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ADD_UI.AddCategoryActivity"
            android:label="@string/add_category"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ADD_UI.AddEmployeeActivity"
            android:label="@string/add_employee"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ADD_UI.AddServicesActivity"
            android:label="@string/add_service"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ADD_UI.AddProductActivity"
            android:label="@string/add_prod"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterLoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBarActivity" />
        <activity
            android:name=".Settings_UI.ForgotPasswordActivity"
            android:label="@string/f_password"
            android:parentActivityName=".OwnerLoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OwnerLoginActivity"
            android:label="@string/login"
            android:parentActivityName=".RegisterLoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>