<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devcash">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NotificationsSettingsActivity"
            android:label="@string/notifs_settings"
            android:screenOrientation="landscape"
            android:parentActivityName=".SettingsActivity"></activity>
        <activity
            android:name=".EnterpriseActivity"
            android:label="@string/enterpprise"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OwnerProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/notification"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ADD_UI.AddDiscountActivity"
            android:label="@string/add_disc"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ADD_UI.AddCategoryActivity"
            android:label="@string/add_category"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ADD_UI.AddEmployeeActivity"
            android:label="@string/add_employee"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ADD_UI.AddServicesActivity"
            android:label="@string/add_service"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ADD_UI.AddProductActivity"
            android:label="@string/add_prod"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterLoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/f_password"
            android:parentActivityName=".OwnerLoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OwnerLoginActivity"
            android:label="@string/login"
            android:parentActivityName=".RegisterLoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>